.faux-lien {
  color: gray;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}
.faux-lien:hover {
  color: blue;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.icon {
    height: 40px;
    padding: 10px;
    border-radius: 40%;
    border-style: solid;
    border-color: black;
}
img {
  max-height: 500px;
  height: auto;
}
