.error-message {
    color: #b00020;
    font-size: 0.9rem;
    margin-top: 5px;

    min-height: 1.2em;   /* 👈 réserve la place */
    visibility: hidden; /* caché mais garde l’espace */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Bordure rouge sur les champs en erreur */
.input-error {
    border: 2px solid #e57373;
    background: #fff5f5;
}
/* Label CGU en erreur */
.cgu-error {
    outline: 2px solid #e57373;
    outline-offset: 2px;
}
#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
    transform: translateY(20px);
    font-size: 0.9rem;
}
