.robot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background: none;
  cursor: pointer;
  border-style: none;
}
.robot > img:hover {
  transform: scale(1.2);
}
.robot img {
  height: clamp(2rem, 8vw, 100px);
  transition: transform 0.3s ease;
}


@media (min-width: 360px) {

/*Navbar*/
.nav-droite, .nav-centre, .nav-gauche {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 10px;
  flex: 1;
}
.nav-gauche {
  gap: 20px;
}
.nav-droite {
  gap: 20px;
  padding: 3%;
}
header {
margin-bottom: 30px;
}
header a:not(.inscrire):hover {
  color: rgb(245, 60, 60);
}
nav {
  display: flex;
}
.nav-centre {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo {
  width: clamp(40px, 7vw, 200px);
}
.titre_h1{
  font-size: clamp(10px, 2vw, 30px);
}
nav a {
  color: black;
  font-size: clamp(8px, 2vw, 20px);
  text-decoration: none;
}
.loupe  {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.loupe:hover {
  transform: scale(1.5);
}
.imgLoupe {
  height: clamp(10px, 3vw, 40px);
}
.inscrire {
  border-radius: 30px;
  color: white;
  background-color: rgb(245, 60, 60);
  padding: 3% 5%;
}
.inscrire:hover {
  opacity: 0.7;
}

}
@media (min-width: 800px) {
.nav-centre, .nav-gauche {
  justify-content: space-evenly;
}
.nav-droite {
  justify-content: space-between;
}
}

@media (min-width: 1001px) {

.nav-gauche {
  gap: 0;
}
.nav-droite {
  gap: 0;
}
}
