button.active {
    background-color: #ff9800;
    color: white;
    border: 1px solid #ff9800;
}
.faux-bouton {
  color: gray;
  cursor: pointer;
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  border-style: double;
}
.faux-bouton:hover {
  color: black;
  background-color: orange;
}
#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
    transform: translateY(20px);
    font-size: 18px;
}