button.active {
    background-color: #ff9800;
    color: white;
    border: 1px solid #ff9800;
}
.faux-bouton {
  color: gray;
  cursor: pointer;
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  border-style: double;
}
.faux-bouton:hover {
  color: black;
  background-color: orange;
}
#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
    transform: translateY(20px);
    font-size: 18px;
}

/*Img index*/
.headerImg {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.headerImg > img {
  width: 90%;
  border-radius: 30px;
}
.p_header {
  position: absolute;
  top: 10%;
  left: 150px;
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: clamp(20px, 5vw, 30px);
  background-color: white;
  border-radius: 30px;
  padding: 30px;
}
.p_header a {
  text-decoration: none;
  color: black;
}
.p_header a:hover {
  color: rgb(245, 60, 60);;
}

/*Liste catégories*/
.middleIndex {
  display: flex;
}
.li_aside {
  font-size: clamp(10px, 5vw, 20px);
  margin: 0px 80px;
}
.li_aside h2 {
  text-align: center;
  margin-bottom: 50px;
}
.li_aside li {
  margin: 20px;
}
.li_aside li:hover {
  color: rgb(245, 60, 60);;
}

/*Zone recherche*/
.zone_recherche {
  display: flex;
}