.error-message {
    padding: 1%;
    font-size: clamp(12px, 2vw, 18px);
}
#toast {
  font-size: clamp(10px, 2vw, 20px);
  bottom: 10%;
  right: 34%;
  position: fixed;
  background: #333;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  pointer-events: none; 
  opacity: 0;
  z-index: 1000;
}

/*bar de navigation*/
.user_nav {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    gap: 5%;
    font-size: clamp(10px, 2vw, 20px);
  }
.user_nav button {
    padding: clamp(10px, 2vw, 20px);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.user_nav button:hover {
    opacity: 0.7;
}
.user_nav button.active {
    background-color: #c62828;
    color: white;
}

/*sections*/
.section {
    display: none; /* caché par défaut */
}
.section.active {
    display: block; /* affiché quand actif */
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #f06525, #c9cd4e) 1;
}

/*section profil*/
h1 {
    text-align: center;
}
.profilDiv {
    padding: 3%;
    font-size: clamp(12px, 2vw, 20px);
}
#mes_infos {
    text-align: center;
}
#form_profil {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.profilDiv input {
    border-radius: 10px;
    border: solid 1px;
    padding: 1%;
    margin: 2%;
    text-align: center;
}
#btn_info, .btn_delete, #deleteAccount {
    border-radius: 30px;
    color: white;
    background-color: #c62828;
    border: none;
    cursor: pointer;
}
#btn_info {
    padding: clamp(8px, 2vw, 20px);
}
#btn_info:hover, #deleteAccount:hover {
    opacity: 0.7;
}
#deleteAccount {
    padding: clamp(8px, 1vw, 15px);
    margin: clamp(10px, 1vw, 20px);
}

/*section favoris*/
.favorisDiv {
    font-size: clamp(12px, 2vw, 20px);
}
.favorisDiv h2 {
    text-align: center;
}
.divRecette {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;
    justify-content: center;
}
.divRecette img {
    width: 90%;
    border-radius: 10px;
}
.divRecette div {
    padding: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.btn_delete {
    padding: clamp(6px, 1vw, 12px);
    font-size: clamp(10px, 2vw, 20px);
    margin-top: 5%;
}
.btn_delete:hover {
    opacity: 0.5;
}

/*section recette*/
#recettes {
    font-size: clamp(10px, 2vw, 18px);
}
.ajoutRecetteForm, .mesRecettes {
    padding: 5%;
}
.ajoutRecetteForm {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#form_recette {
    margin-top: 3%;
    width: 70%;
}
fieldset {
    border: none;
}
fieldset legend {
    margin: auto auto 5% auto;
}
#form_recette input {
    border-radius: 10px;
    border: solid 1px;
    padding: 2%;
    margin: 2%;
}
#form_recette button {
    border-radius: 30px;
    color: white;
    background-color: #c62828;
    border: none;
    cursor: pointer;
    padding: 3%;
}
.divRecetteImg label, .divInstruction label {
    display: block;
}
.listeIngredients {
    text-align: initial;
}
#ingredient_list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#ingredient_list li {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.texteIngredient {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /*ajoute les ... quand le texte est coupé*/
}
.divMotsCles label {
    text-wrap: nowrap;
}
.divInstruction textarea {
    border-radius: 10px;
    width: 100%;
    padding: 3%;
    height: 25vw;
}
.divInstruction label {
    margin: 4% 0;
}
#btn_recette {
    margin-top: 2%;
}
.inputMotsCles {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mot_cle_list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#mot_cle_list li {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.texteTags {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /*ajoute les ... quand le texte est coupé*/
}

@media (min-width: 508px) {
#toast {
  right: 40%;
}
}

@media (min-width: 800px) {
.profilDiv {
    display: flex;
    justify-content: space-evenly;
}
.divRecette div {
    width: 25%;
}
.divRecette img {
    width: 80%;
}
.ajoutRecetteForm, .mesRecettes {
    flex: 1;
}
}

@media (min-width: 1200px) {
.divRecette img {
    width: 70%;
}
.ajoutRecette {
    display: flex;
}
.divInstruction textarea {
  height: 15vw;
}
#form_recette {
    width: 100%;
}
.inputIngredients label {
    display: block;
}
}
