.user_nav {
    display: flex;
    margin-bottom: 20px;
  }
.user_nav button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.user_nav button:hover {
    background-color: #007bff;
    color: white;
}
.section {
    display: none; /* caché par défaut */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
.section.active {
    display: block; /* affiché quand actif */
}