/*bar de navigation*/
.user_nav {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    gap: 5%;
  }
.user_nav button {
    padding: 0.6%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.user_nav button:hover {
    opacity: 0.7;
}
.user_nav button.active {
    background-color: rgb(245, 60, 60);
    color: white;
}

/*sections*/
.section {
    display: none; /* caché par défaut */
}
.section.active {
    display: block; /* affiché quand actif */
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgb(245, 60, 60), #c9cd4e) 1;
}

/*section profil*/
.profilDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}
#form_profil{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.profilDiv input {
    border-radius: 10px;
    border: solid 1px;
    padding: 2%;
    margin: 2%;
}
#btn_info, .btn_delete {
    border-radius: 30px;
    color: white;
    background-color: rgb(245, 60, 60);
    border: none;
    cursor: pointer;
}
#btn_info{
    padding: 3% 5%;
}
#btn_info:hover {
    opacity: 0.7;
}

/*section favoris*/

.favorisDiv h2 {
    text-align: center;
}
.divRecette {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;
    justify-content: center;
}
.divRecette img {
    width: 50%;
    border-radius: 10px;
}
.divRecette div {
    padding: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.btn_delete {
    padding: 3%;
}

/*section recette*/

#recettes {
    display: flex;
}
.ajoutRecetteDiv, .mesRecettes{
    flex: 1;
    padding: 5%;
}
.ajoutRecetteDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#form_recette {
    margin-top: 3%;
    text-align: center;
    width: 70%;
}
#form_recette input{
    border-radius: 10px;
    border: solid 1px;
    padding: 2%;
    margin: 2%;
}
#form_recette button {
    border-radius: 30px;
    color: white;
    background-color: rgb(245, 60, 60);
    border: none;
    cursor: pointer;
    padding: 3%;
}
.divRecetteImg label, .divInstruction label{
    display: block;
}
.divIngredients, .divMotsCles {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divInstruction textarea {
    border-radius: 10px;
    width: 15vw;
    padding: 3%;
    margin-top: 2%;
}
#btn_recette {
    margin-top: 2%;
}
