.middleIndex {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
app-zone-recette-categories {
  margin-right: 5%;
}
/*zone recherche*/
.zone_recherche {
  display: flex;
  gap: 20px;
  margin-bottom: 5%;
  font-size: clamp(8px, 2vw, 20px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.zone_recherche button:hover, .zone_recherche select:hover {
  opacity: 0.7;
}
.barre_recherche {
  display: inline-flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.barre_recherche button {
  width: clamp(30px, 6vw, 50px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.barre_recherche button:hover {
  transform: scale(1.5);
}
.barre_recherche img {
  width: 100%;
  height: 100%;
}
.barre_recherche input {
  width: 50%;
  border-radius: 10px;
  background-color: #fbf2f0;
  border: none;
  padding: 10px;
}
.actualisation {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
  width: min-content;
}
#btn_refresh {
  background-color: #c62828;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5%;
  border-radius: 10px;
}
.filtre select {
  border-radius: 5px;
  width: 100%;
  background-color: #c62828;
  color: white;
  border: none;
  padding: 5%;
  cursor: pointer;
  text-align: center;
}
.filtre {
  display: flex;
  gap: clamp(30px, 2vw, 40px);
  justify-content: space-around;
}
.filtre div {
  display: grid;
  gap: 10px;
}
.reset {
  display: flex;
  align-content: center;
  justify-content: center;
}
.reset button {
  background-color: #c62828;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 13%;
  cursor: pointer;
}

/*recettes*/
.recettes {
  font-size: clamp(5px, 2vw, 15px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
  padding: 0 5%;
}
app-zone-recette-liste-recettes {
  width : 20%;
}
.note-block {
  margin: 5% 0;
}
.pagination {
  font-size: clamp(5px, 2vw, 20px);
  flex-wrap: wrap;
  margin: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagination_btn {
  font-size: clamp(5px, 2vw, 20px);
  border: transparent;
  background: transparent;
  cursor: pointer;
}
button.active {
  background-color: #c62828;
  color: white;
  border-radius: 5px;
  box-shadow: 50px 10px 10px 5px;
}
.pagination_btn:hover {
  background-color: #c62828;
  border-radius: 5px;
  color: white;
}

@media (min-width: 508px) {
#toast {
  right: 40%;
}
}

@media (min-width: 800px) {
.reset button, .filtre select, #btn_refresh {
  border-radius: 30px;
}
}

@media (min-width: 1001px) { 
/*liste catégories*/
.middleIndex {
  display: flex;
  flex-direction: initial;
  margin-top: 5%;
}

/*Zone recherche*/
.filtre select{
  border-radius: 30px;
}
.zone_recherche {
  font-size: clamp(8px, 1.5vw, 20px);
}
}

@media (min-width: 1600px) { 
.zone_recherche {
  gap: 30px;
}
.recette-item img {
  border-radius: 30px;
}
.zone_recettes {
  flex-wrap: nowrap;
}
.barre_recherche input {
  width: 100%;
}
.actualisation, .filtre, .barre_recherche {
  flex: 2;
}
}