<header class="header">
    <nav aria-label="Navigation principale">
        
        <div class="nav-gauche">
            <a routerLink="">Accueil</a>
            <a routerLink="/contact">Contact</a>
        </div>
        
        <div class="nav-centre">
            <a routerLink="" class="logo-link">
                <img src="assets/img/poele.webp" alt="Logo d'une poêle" class="logo">
                <span class="titreHeader">
                    <strong>Miam & Co<br>Recettes du monde</strong>
                </span>
            </a>
        </div>

        <div class="nav-droite">
            <button class="loupe" id="btn_loupe" type="button" aria-label="Rechercher une recette" title="Rechercher une recette">
                <img src="assets/img/loupe.svg" alt="Logo d'une loupe pour la recherche" class="imgLoupe">
            </button>
            <a routerLink="">Profil</a>
            <a routerLink="">Se connecter</a>
            <a class="inscrire" routerLink="">S'inscrire</a>
        </div>
    </nav>
</header>
