<section class="footerIndex">
    <div class="contenu_video">
        <iframe 
            loading="lazy" 
            src="https://www.youtube-nocookie.com/embed/MuZGBlYEYMo?autoplay=0&mute=1&controls=0&loop=1&playlist=MuZGBlYEYMo&start=1&modestbranding=1&rel=0" 
            title="Vidéo youtube montrant différentes recettes" 
            allow="autoplay; encrypted-media; picture-in-picture" 
            allowfullscreen>
        </iframe>
            <img src="assets/img/cake.webp" alt="Image d'un cake aux fruits maison" >
        <iframe 
            loading="lazy"
            src="https://www.youtube-nocookie.com/embed/9g-gMkV5vL4?autoplay=0&mute=1&controls=0&loop=1&playlist=9g-gMkV5vL4&modestbranding=1&rel=0"
            title="Vidéo youtube montrant comment faire un chili"
            allow="autoplay; encrypted-media; picture-in-picture"
            allowfullscreen>
        </iframe>
            <img src="assets/img/bol.webp" alt="Image d'un bol contenant des légumes">
    </div>
        <div class="infoVideo"><p>Ces vidéos peuvent ne pas contenir de sous-titres accessibles.</p></div>
    <div class="newsletter">
        <div>
            <p>Soyez les premiers informés des dernières recettes intégrées !</p>
        </div>
        <div class="newsletter-email">
            <label for="newsletter_email" class="sr-only">Inscrivez votre adresse email</label>
            <input id="newsletter_email" type="email" placeholder="exemple@gmail.fr" required>
            <button type="button" aria-disabled="true" disabled>S'inscrire</button>
        </div> 
    </div>
</section>