.error {
  color: red;
  font-size: clamp(10px, 2vw, 20px);
}
header, footer {
    min-height: 100px;
}
main {
    min-height: 1000px;
}
body {
  margin: 0;
  padding: 0;
}
/*#toast {
  font-size: clamp(8px, 2vw, 20px);
  bottom: 10%;
  right: 34%;
  position: fixed;
  background: #333;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  pointer-events: none; 
  opacity: 0;
  z-index: 1000;
}*/
a {
    text-decoration: none;
    color: black;
    font-size: clamp(10px, 2vw, 20px);
}
h2 {
    text-align: center;
    font-size: clamp(12px, 2vw, 35px);
    margin-top: clamp(10px, 5vw, 80px);
}
#recettes_details {
    padding: 0 5%;
    min-height: 400px;
}

/*header recette*/
.headerDetails {
    margin-top: 3%;
}
.imgDetails {
    flex: 1;
    display: grid;
    place-items: center;
}
.imgDetails img {
    aspect-ratio: 10 / 9;
    width: 70%;
    border-radius: 20px;
}
.infoDetails {
    flex: 1;
    font-size: clamp(10px, 2vw, 20px);
}
.h3Recette {
    text-align: center;
}
.descriptionDetails {
    line-height: 1.5;
}
.middleDetails {
    display: flex;
    font-size: clamp(10px, 2vw, 20px);
    flex-direction: column-reverse;
}
.middleDetails h3 {
    font-size: clamp(10px, 2vw, 30px);
}
.infoSuppleDetails {
    margin-bottom: 5%;
}
.noteDetails {
    display: flex;
}
.note-block-detail{
  flex: 2;
}
.buttonDetails {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.btnDetails {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    aspect-ratio: 16 / 9;
    width: clamp(10px, 3vw, 40px);
}
.btnDetails svg {
    transition: transform 0.3s ease;
    object-fit: cover;
    width: 100%;
}
.btnDetails svg:hover {
    transform: scale(1.2);
}
.btnDetails {
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btnDetails:hover {
  color: red;
}
.instructions {
    flex: 2;
    padding: 5%;
    line-height: 1.5;
}
.divTags, .divIngredients {
    flex: 1;
}
.ingredients {
    display: flex;
}
.ingredients li {
    margin: 3%;
}
.ingredients ul {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}

/*Zone commentaire*/
#commentaires {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2vw, 40px);
  margin: 5% 0;
}
.divCommentaires {
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.divCommentaires:nth-child(odd) {
  align-self: flex-start;
  background-color: papayawhip;
}

.divCommentaires:nth-child(even) {
  align-self: flex-end;
  background-color: peachpuff;
}
.espaceCommentaires {
    margin-bottom: 5%;
    font-size: clamp(10px, 2vw, 20px);
    padding: 0 5%;
    min-height: 600px;
}
.zoneConnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#btnConnexion {
    padding: 2%;
    background: linear-gradient( 100deg, peachpuff, papayawhip);
    border-radius: 50px 0 50px 0;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, transform 0.2s;
}
#btnConnexion:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  cursor: pointer;
}
.formCommentaire {
    display: flex;
    margin: 0 auto;
    padding: 3%;
    background: linear-gradient(135deg, peachpuff, papayawhip);
    width: 90%;
    border-radius: 30px;
}
fieldset {
    border: none;
    width: 100%;
    gap: 20px;
    display: grid;
}
fieldset legend {
    margin: auto auto 5% auto;
}
.noteCommentaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(8px, 2vw, 20px);
}
.btnZoneCommentaire {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.btnEnvoyer, #note_input {
    padding: 2%;
}
#note_input {
    text-align: center;
}
.inputCommentaires {
    width: 100%;
}
.inputCommentaires > .divTextarea {
    display: flex;
    gap: 10px;
    margin: 4%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divTextarea textarea {
    width: 80%;
    resize: none;
    border-radius: 10px;
    padding: 2%;
    height: 25vw;
}
.btnEnvoyer, #note_input {
    background-color: #c62828;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}


@media (min-width: 1000px) {
.divCommentaires {
    width: 70%;
}
.formCommentaire {
    width: 60%;
}
.divTextarea textarea {
    width: 80%;
    height: 14vw;
}
.divCommentaires {
    border-radius: 50px 0 50px 0;
}
.headerDetails {
    display: flex;
}
.ingredients {
    flex: 1;
}
.divTags, .divIngredients {
    flex: none;
}
.ingredients {
    display: initial;
}
.ingredients li {
    margin: 3%;
}
.ingredients ul {
    padding: revert;
    width: initial;
    margin: initial;
}
.middleDetails {
    flex-direction: initial;
}
}

@media (min-width: 1400px) {
.divCommentaires{
    width: 55%;
}
.formCommentaire {
    width: 50%;
}
}