<main>
    <section>
        <div class="h1Contact">
            <h1>Formulaire de contact</h1>
        </div>
        <div class="divContact">
            <div class="para_form">
                <h2>Contactez-nous</h2>
                <p>Vous avez une question, une suggestion ou souhaitez simplement échanger avec nous ? 
                    N’hésitez pas à nous écrire ! 
                    Nous nous engageons à vous répondre dans les plus brefs délais et à vous apporter toute l’aide nécessaire. 
                    Remplissez le formulaire ci-contre en indiquant vos coordonnées et votre message, et nous prendrons contact avec vous rapidement. 
                    Votre satisfaction est notre priorité !</p>
                <button type="button" aria-label="Prévoir un appel" aria-disabled="true" disabled>Prévoir un appel<br>(bientôt disponible)</button>
            </div>
            <div class="formContact">
                <app-contact-form (formSubmitted)="saveContact($event)"></app-contact-form>
            </div>
        </div>
        
    </section>
</main>
