<main>
<section class="gauche_insc">
    <div class="formGauche">
        <h1>Se connecter ⤵</h1>
        <nav class="liens" aria-label="Se connecter avec un réseau social">
            <a href="https://www.facebook.com/?locale=fr_FR" title="Se connecter avec Facebook" rel="noopener noreferrer" target="_blank" aria-label="Se connecter avec Facebook">
                <img src="../assets/img/facebook.webp" class="icon" alt="Logo Facebook"> 
            </a>
            <a href="https://accounts.google.com" 
            title="Se connecter avec Google" rel="noopener noreferrer" target="_blank" aria-label="Se connecter avec Google">
                <img src="../assets/img/google.webp" class="icon" alt="Logo de Google"> 
            </a>
            <a href="https://www.linkedin.com/home" title="Se connecter avec Linkedin" rel="noopener noreferrer" target="_blank"  aria-label="Se connecter avec Linkedin">
                <img src="../assets/img/linkedin.webp" class="icon" alt="Logo Linkedin"> 
            </a>
        </nav>
        <h2>Ou utilise ton adresse email</h2>
        <div class="formInsc">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()" method="POST" id="formconnexion" novalidate> 
                <h3 class="sr-only">Formulaire de connexion</h3>
            
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" placeholder="exemple@gmail.fr" maxlength="150" autocomplete="email">
                @if(signInForm.get('email')?.invalid && (signInForm.get('email')?.touched || signInForm.get('email')?.dirty)) {
                   @if(signInForm.get('email')?.errors?.['required']){
                    <div>Ce champ est obligatoire</div>
                    } @else if (signInForm.get('email')?.errors?.['maxlength']) {
                        <div>Maximum 150 caractères</div>
                    } @else if (signInForm.get('email')?.errors?.['email']) {
                        <div>Entrer un email correct. Exemple : exemple@gmail.fr</div>
                    } 
                }

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" formControlName="password" placeholder="Min 8 caractères" maxlength="20" autocomplete="current-password">
                @if(signInForm.get('password')?.invalid && (signInForm.get('password')?.touched || signInForm.get('password')?.dirty)) {
                   @if(signInForm.get('password')?.errors?.['required']){
                    <div>Ce champ est obligatoire</div>
                    } @else if (signInForm.get('password')?.errors?.['maxlength'] || signInForm.get('password')?.errors?.['minlength']) {
                        <div>Le mot de passe doit être entre 8 et 20 caractères</div>
                    }
                }

                <button type="submit" id="btn_connexion" [disabled]="signInForm.invalid" (click)="signIn()">Se connecter</button>
                
                <a class="faux-lien">Mot de passe oublié ?</a>
            </form>
        </div>
    </div>
</section>
<section class="droite_insc">
    <div class="imgDroiteConnexion">
        <img src="../assets/img/Cuisinière.webp" alt="Dame qui cuisine" loading="lazy">
        <p>
            Vous êtes nouveau ?
            <a routerLink="/sign-up" aria-label="Aller à la page d'inscription">S'inscrire</a>
        </p>
    </div>
</section>
</main>