.gauche_insc {
  display: flex;
  justify-content: center;
}

/*zone droite*/
.imgDroiteConnexion p a {
  text-decoration: none;
  color: #c62828;
}
a {
  cursor: pointer;
}
.imgDroiteConnexion p a:hover {
  opacity: 0.7;
}
.imgDroiteConnexion img {
  display: none;
}
.imgDroiteConnexion p {
  padding: 2%;
  text-align: center;
  font-size: clamp(13px, 1vw, 20px);
}

/*zone gauche*/
.liens {
  display: flex;
  gap: 3vw; 
}
.icon {
  width: clamp(20px, 3vw, 35px);
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: scale(1.3);
}
h1, h2 {
  font-size: clamp(16px, 2vw, 25px);
}
.formGauche {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  font-size: clamp(13px, 2vw, 18px);
}
#formconnexion {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.formInsc input:not(#cgu) {
  border-radius: 30px;
  padding: 2%;
  border: solid rgb(184, 184, 184) 1px;
  text-align: center;
  margin: 1%;
}
.formInsc label {
  margin: 1%;
}
.divCgu {
  display: flex;
  white-space: nowrap;
  gap: 20px;
  align-items: center;
}
#cgu {
  height: min-content;
}
#btn_connexion {
  border-radius: 30px;
  color: white;
  background-color: #c62828;
  padding: 3% 5%;
  border: none;
  cursor: pointer;
}
#btn_connexion:disabled {
  background-color: grey;
  cursor: not-allowed;
}
#btn_connexion {
  width: 70%;
}
#btn_connexion:hover {
  opacity: 0.7;
}
.faux-lien {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  margin-top: 5%;
  text-decoration: none;
  color: black;
}
.faux-lien:hover {
  color: blue;
}

@media (min-width: 800px) {
main {
  display: flex;
}
.gauche_insc, .droite_insc {
  flex: 1;
  align-content: center;
  padding: clamp(10px, 5vw, 30px);
}
.gauche_insc {
  justify-content: right;
}

/*zone droite*/
.imgDroiteConnexion {
  display: flex;
  justify-content: center;
  position: relative;
}
.imgDroiteConnexion img {
  display: block;
  z-index: 0;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 30px;
}
.imgDroiteConnexion p {
  position: absolute;
  bottom: 10%;
  background: white;
  border-radius: 30px;
  padding: 2%;
  font-size: clamp(12px, 1.5vw, 15px);
}
}
