<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset_modern_normalize.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <title>Contact</title>
</head>
<body>
    <div id="toast" role="status"></div>
    <header id="header"></header>
    <div class="para_form">
        <p>Vous avez une question, une suggestion ou souhaitez simplement échanger avec nous ? 
            N’hésitez pas à nous écrire ! 
            Nous nous engageons à vous répondre dans les plus brefs délais et à vous apporter toute l’aide nécessaire. 
            Remplissez le formulaire ci-contre en indiquant vos coordonnées et votre message, et nous prendrons contact avec vous rapidement. 
            Votre satisfaction est notre priorité !</p>
            <button type="button">Prévoir un appel</button>
    </div>
        <div class="formContact">
            <form action="" method="POST" id="form" novalidate> <!--method post pour éviter l'affichage des données sensibles dans l'url-->
            
                <label for="lastname">Nom</label>
                <input type="text" id="lastname" name="lastname" placeholder="Votre nom" maxlength="50">
                <div id="lastname_error" class="error-message"></div>

                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" name="firstname" placeholder="Votre prénom" maxlength="50">
                <div id="firstname_error" class="error-message"></div>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="exemple@gmail.fr" maxlength="150">
                <div id="email_error" class="error-message"></div>

                <label for="message">Message :</label>
                <textarea id="message" name="message" maxlength="255" placeholder="Écrivez ici (max 255 caractères)"></textarea>
                <div id="message_error" class="error-message"></div>
                
                <label for="rgpd">Je consente au traitement des données personnelles
                    <input type="checkbox" id="rgpd" name="rgpd">
                </label>
                <div id="rgpd_error" class="error-message"></div>
                
                <button type="submit" id="btn_contact">Envoyer</button>
                
            </form>
        </div>

    <footer id="footer"></footer>

<script src="../assets/js/toast.js"></script>
<script src="../assets/js/contact.js"></script>
<script src="../assets/js/header.js"></script>
</body>
</html>