<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset_modern_normalize.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
        <button class="robot" type="button">
            <img src="../assets/img/chatbot.webp" alt="Image d'un robot">
        </button>
    <header class="header">
        <nav aria-label="Navigation principale">
            
            <div class="nav-gauche">
                <a href="../index.html">Accueil</a>
                <a href="/frontend/templates/contact.html">Contact</a>
            </div>
            
            <div class="nav-centre">
                <img src="../assets/img/poele.webp" alt="Logo Miam & Co" class="logo">
                <h1 class="titre_h1">Miam & Co - Accueil</h1>
            </div>

            <div class="nav-droite">
                <button class="loupe" id="btn_loupe" type="button" aria-label="Rechercher une recette" title="Rechercher une recette">
                    <img src="../assets/img/loupe.svg" alt="Logo d'une loupe pour la recherche" class="imgLoupe">
                </button>
                <a href="connexion.html">Se connecter</a>
                <a class="inscrire" href="inscription.html">S'inscrire</a>
            </div>
        </nav>
    </header>
</body>
</html>