<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Accueil</a>
            <a href="">Recettes</a>
            <a href="">Recherche</a>
            <a href="">Contact</a>
            <a href=""></a> <!--logo recherche-->
            <a href="">Se connecter</a>
            <a href="">S'inscrire</a>
        </nav>
    </header>
</body>
</html>