<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/reset_modern_normalize.css">
    <link rel="icon" href="../assets/img/poele.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="logo_titre">
            <a href="../index.html">
                <img src="../assets/img/poele.ico" alt="Logo Miam & Co" class="logo">
            </a>
            <p class="titre_h1">Miam & Co</p>
        </div>
        <nav aria-label="Navigation principale">
            <a href="../index.html">Accueil</a>
            <a href="contact.html">Contact</a>
            <button id="btn_loupe" type="button" aria-label="Rechercher une recette">
                <img src="../assets/img/loupe.svg" alt="Logo d'une loupe pour la recherche" height="30px">
            </button>
            <a href="connexion.html">Se connecter</a>
            <a href="inscription.html">S'inscrire</a>
        </nav>
    </header>
</body>
</html>