<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="icon" href="../assets/img/poele.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/error.css">
</head>
<body>
<main>
    <div id="toast" role="status"></div> 
    <section class="gauche_insc">
        <h1>S'inscrire ⤵</h1>
        <nav aria-label="S'inscrire avec un réseau social">
            <a href="https://www.facebook.com/?locale=fr_FR" title="S'inscrire avec Facebook" rel="noopener noreferrer" target="_blank">
                <img src="../assets/img/facebook.webp" class="icon" alt="Logo Facebook"> 
                <span class="sr-only">S'inscrire avec Facebook</span>
            </a>
            <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fclient%3Dfirefox-b-d%26q%3Dgooglr%26sei%3D4hJJacLqA7ylkdUPvrm7oAM&dsh=S923499906%3A1766396645593027&ec=futura_srp_og_si_72236_p&flowEntry=ServiceLogin&flowName=GlifWebSignIn&hl=fr&ifkv=Ac2yZaW3KqvlBnBTKCAyrZfElBKYimHjfzwkfKCacHkPeoWENUJgTC4PYWZh40M_Gvz8iCYsASPj8g" 
            title="S'inscrire avec Google" rel="noopener noreferrer" target="_blank">
                <img src="../assets/img/google.webp" class="icon" alt="Logo de Google"> 
                <span class="sr-only">S'inscrire avec Google</span>
            </a>
            <a href="https://www.linkedin.com/home" title="S'inscrire avec Linkedin" rel="noopener noreferrer" target="_blank">
                <img src="../assets/img/linkedin.webp" class="icon" alt="Logo Linkedin"> 
                <span class="sr-only">S'inscrire avec Linkedin</span>
            </a>
        </nav>
        <h2>Ou utilise ton adresse email</h2>
        <div class="formInsc">
            <form action="" method="POST" id = "form" novalidate> 
                <h3 class="sr-only">Formulaire d'inscription</h3>
            
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="exemple@gmail.fr" maxlength="150">
                <div id = "email_error" class="error-message"></div>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Min 8 caractères" maxlength="20">
                <div id = "password_error" class="error-message"></div>

                <label for="confirm_password">Confirmer le mot de passe</label>
                <input type="password" id="confirm_password" name="confirm_password" maxlength="20">
                <div id = "confirm_password_error" class="error-message"></div>

                <label for="cgu">
                    J'accepte les conditions générales d'utilisation
                    <input type="checkbox" id="cgu" name="cgu">
                </label>
                <div id = "cgu_error" class="error-message"></div>
                
                <button type="submit" id="btn_inscription">S'inscrire</button>
                
            </form>
        </div>
    </section>
    <section class="droite_insc" aria-label="Image d'une dame qui cuisine">
        <div>
            <img src="../assets/img/cuisiniere.webp" alt="Dame qui cuisine" height="500px">
            <p>
                Déjà un compte ?
                <a href="connexion.html" aria-label="Aller à la page de connexion">Se connecter</a>
            </p>
        </div>
    </section>
</main>
<script src="../assets/js/toast.js"></script>
<script src="../assets/js/connexion_inscription.js"></script>
</body>
</html>