<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset_modern_normalize.css">
    <link rel="stylesheet" href="../assets/css/recettes_details.css">
    <title>Recette</title>
</head>
<body>
    <!--informe les technologies d'assitance que le contenu contient des informations importantes qui changent dynamiquement-->
    <div id="toast" role="status"></div> 
                                                            
    <header id="header"></header>

<main>
    <h1 class="sr-only">Détails de la recette</h1>

    <section class="headerDetails" id="recettes_details" aria-label="Détails de la recette"></section>

    <section>
        <h2>Commentaires</h2>

        <div id="commentaires" aria-live="polite"></div>

        <form id="zone_commentaire" style="display: none;" aria-hidden="true" onsubmit="event.preventDefault(); ajoutCommentaire();"> <!--empêche le comportement par défaut du navigateur(rechargement)-->
            <h3>Ajouter un commentaire</h3>

            <label for="commentaire_input">Votre commentaire :</label>
            <textarea id="commentaire_input" placeholder="Ecrivez votre commentaire" maxlength="500"></textarea>
            <p id="char_count" class="char_count">0/500</p>

            <label for="note_input">Note :</label>
            <select id="note_input" aria-required="true">
                <option value="" selected disabled>Choisissez une note</option>
                <option value="1">★☆☆☆☆</option>
                <option value="2">★★☆☆☆</option>
                <option value="3">★★★☆☆</option>
                <option value="4">★★★★☆</option>
                <option value="5">★★★★★</option>
            </select>
            <span class="error" id="note_error" aria-live="assertive"></span> <!--interruption immédiate-->
            
            <button type="submit">Envoyer</button>
        </form>

        <div id="connexion">
            <label for="prenom" class="sr-only">Votre prénom</label>
            <input type="text" id="prenom" placeholder="Entrez votre prénom" aria-required="true" aria-autocomplete="none" required>
            <span class="error" id="prenom_error" aria-live="assertive"></span>
            <button type="button" onclick="connexion()">Se connecter</button>
        </div>
            <button type="button" id="btn_deconnexion" style="display: none;" onclick="deconnexion()">Déconnexion</button>
    </section>
    <section>
        <h3>Recettes de la même catégorie</h3>
        <div id="recettes_similaires" role="list"></div>
    </section>
</main>    
    
    <footer id="footer"></footer>

<script src="../assets/js/random.js"></script>    
<script src="../assets/js/commentaires.js"></script>
<script src="../assets/js/recettes_details.js"></script>
<script src="../assets/js/header.js"></script>
<script src="../assets/js/toast.js"></script>
</body>
</html>