<h1>Ajouter ou modifier vos recettes</h1>
<div class="ajoutRecette">
    <div class="ajoutRecetteForm">
        <h2>{{recetteToEdit ? 'Modifier la recette' : 'Créer une recette'}}</h2>
        <!--@output-->
        <app-profil-recettes-form (recipeCreated)="addRecipe($event)" [recette]="recetteToEdit" [editIndex]="editIndex"></app-profil-recettes-form>
    </div>
    <div class="mesRecettes">
        <h2>Mes recettes :</h2>
        <div class="recettesUsers">
            <!--@input-->
            @for(recetteUser of recettesUsers; track recetteUser.id; let i=$index){
                <app-profil-recettes-card class="cardUsers" [element]="recetteUser" [index]="i" (deleteRecette)="removeRecetteUser($event)" (editRecette)="editRecette(recetteUser, i)"></app-profil-recettes-card>
            } @empty {
            <p>Vous n'avez créer aucune recettes</p>
            }
        </div>
    </div>
</div>
