/*section recette*/
h1 {
    text-align: center;
}
.ajoutRecetteForm, .mesRecettes {
    padding: 5%;
}
.ajoutRecetteForm {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px) {
.ajoutRecetteForm, .mesRecettes {
    flex: 1;
}
}
@media (min-width: 1200px) {
.ajoutRecette {
    display: flex;
}
}